/* Apply css in strat web  */


/* start web */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
.startweb {
    height: 580px;
    width: 1440px;
    background-color: #74C69D;
    position: absolute;
    box-sizing: border-box;

}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: -16px;

}
ul{
    display: flex;
    flex-direction: row;
    gap:30px;
    list-style: none;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    left: 20%;
    top:20%;
    font-family: 'Work Sans';
    font-size: 20px;
    line-height: 125%;
    font-weight: 350;
    color: rgb(255,255,255,0.9);
}
.nav{
    display: flex;
    height: 25px;
    width: 60%;
    padding: 20px;
    margin: 25px;
    justify-content: center;
    align-items: center;

}
.startweb .nav{
    position: absolute;
    right: -17px;
}
.con{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 80%;
    flex-direction: column;
    position: relative;
    margin: 10%;
    box-sizing: border-box;
}
.welcometext{
    width: 416px;
    height: 299px;
    position: relative;
    top:160px;
    right: 32%;
    line-height: 1.6em;
    box-sizing: border-box;

}
h3{
    font-family:'Work Sans';
    font-size: 17px;
    line-height: 125%;
    font-weight: bold;
    color: #FFFFFF;
    letter-spacing: 7px;
    margin: 22px 0;
    position: relative;
    top: 2%;
}
h1{
    font-family: 'Crimson Text';
    font-size: 40px;
    line-height: 125%;
    font-weight: bold;
    color: rgb(255,255,255,0.9);

}
p{
    font-family: 'Work Sans';
    font-size: 15px;
    riziseing-horizontel:fixed;
    line-height: 125%;
    font-weight: 300 ;
    color: rgb(255,255,255,0.9);
    position: relative;
    top: 5%;
}

.logo{
    position: relative;
    right: 143%;
    top: 16px;
    font-family: 'Work Sans';
    line-height: 16px;
    font-weight:500;
    color: #FFFFFF;
    font-size: 40px;
}
ul li a{
    text-decoration:none ;
    color: #FFFFFF;
}
ul span{
    position: absolute;
    top: 40%;
    left: 125%;
}
ul li svg{
    position: relative;

}
button{
    width: 170px;
    height: 50px;
    font-family: 'Work Sans';
    font-size: 20px;
    background-color: #FFFFFF;
    line-height: 125%;
    color:#000000;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    position: relative;
    top: 15%;
    cursor: pointer;
}
.con img{
    position: relative;
    right: -305px;
    top: -140px;   

}
.startwebs1{
    position: relative;
    height: 375px;
    width: 1158px;
    box-sizing: border-box;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#FFFFFF ;
    position: relative;
    left: 10.5%;
}
h4 {
    color: #74C69D;
    font-family: 'Work Sans';
    font-size: 16px;
    font-weight: bold;
    line-height: 125%;
    position: relative;
    top: -14px;
    letter-spacing: 5px;
    
}
h2{
    color: #000000;
    font-family: 'Crimson Text';
    font-size: 40px;
    line-height: 125%;
    position: relative;
    top: 4px;
}

.partners{
    width: 411px;
    height: 162px;
    /* border: 1px solid black; */
    position: relative;
    top: -105px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.para2 {
    color:#000000;
    font-family: 'Work Sans';
    font-size: 20px;
    line-height: 175%;
    font-weight: 400;
    text-align: center;
    position: relative;
    top: 23px;


}

.com{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* border: 1px solid black; */
    position: absolute;
    bottom: -15%;
    left: 12%;
    gap: 8%;
    
}
.com ul li{
    cursor: pointer;
}
.btn{
    background-color: #212529;
    color: #FFFFFF;
    width: 170px;
    height: 48px;
    line-height: 125%;
    font-size: 20px;
    font-family: 'Work Sans';
    text-align: center;
    position: absolute;
    top: 92%;
    left:42%;
    border-radius: 6px;
}
.webs2{
    width: 1180px;
    height: 431px;
    /* border: 1px solid black; */
    margin:90px 0 10% 10% ;

}
.para3{
    color:#2d3033d3;
    font-size: 15px;
    font-family: 'Work Sans';
    line-height: 125%;
    font-weight: 400;

}
.btn2{
    background-color: #212529;
    color: #FFFFFF;
    width: 170px;
    height: 48px;
    line-height: 125%;
    font-size: 20px;
    font-family: 'Work Sans';
    text-align: center;
    position: relative;
    right:32%;
    border-radius: 6px;
}
.cap1{
    width: 470px;
    height: 255px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    left:57%;
    top: 20%;
    
    
}
h2 .head2{
    color: #000000;
    font-family: 'Crimson Text';
    font-size: 40px;
    line-height: 125%;
}
.imgwebs2{
    position: relative;
    bottom: 60%;
}
 
/* part 3  css code*/
.webs3{
width: 1180px;
height: 565px;
/* border: 1px solid black; */
margin: 55px 0 10% 10%;

}
.g1{
    width: 470px;
    height: 255px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 25%;
}
.imgwebs3{
    position: relative;
    left: 48%;
    bottom: 45%;
}
.webs4{
    width: 1176px;
    height: 599px;
    margin: 48px 10% 65px 10%;
    /* border: 1px solid black; */
   
}
.team{
    width: 404px;
    height: 162px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    left: 32%;
    margin-top: 3px;
}
.members{
    width: 1176px;
    height: 299px;
    margin: 45px 0 45px 0;
}
.btn3{
    background-color: #212529;
    color: #FFFFFF;
    width: 170px;
    height: 48px;
    line-height: 125%;
    border-radius: 7px;
    font-size: 20px;
    font-family: 'Work Sans';
    text-align: center;
    position: relative;
    left: 43%;
    top: 3%;
}
.send{
    width: 1440px;
    height: 125px;
    background-color: #74C69D;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 43%;
}
.copyrights{
    color: #FFFFFF;
    line-height: 125%;
    font-size: 20px;
    font-family: 'Work Sans';
    
}